.modalBody {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    width: 30%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 0.3rem;
    padding: 1rem;
    position: relative;
    .exit {
      position: absolute;
      right: 5%;
      cursor: pointer;
    }
  }
}
